<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arma3sync-web-admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
<section>
    <nav>
        <a href="/events">events</a>
        <a href="/index">index</a>
    </nav>
</section>
<section>
    <h1>events</h1>
    <div id="event-list"></div>
    <button id="save-event-list">save</button>
    <button id="reload-event-list">zurücksetzen</button>
</section>
</body>
<script src="/scripts/events.js"></script>
</html>
