<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arma3sync-web-admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
<section>
    <nav>
        <a href="/index">index</a>
        <a href="/events">events</a>
        <a href="/sync">sync</a>
    </nav>
</section>
<section>
    <h1>sync</h1>
    <div>sync last written at: <span id="sync-last-update"></span></div>
    <button id="update-sync">update sync</button>
    <button id="update-zsync">update zsync</button>
    <button id="update-all">update sycn & zsyncs</button>
</section>
</body>
<script src="/scripts/sync.js"></script>
</html>
