body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .users-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .users-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .add-user-col input {
  margin-bottom: 10px;
}

body .users-column .user-display-ele {
  padding-bottom: 10px;
}

body .users-column .user-display-ele button {
  margin-top: 2px;
  margin-bottom: 10px;
}

body .users-column .user-display-ele .edit-view {
  display: none;
}

#event-list > table {
  border-spacing: 0;
  border-collapse: collapse;
}
#event-list td, #event-list th {
  border: 1px solid gray;
  padding: 2px;
}

#event-list th {
  text-align: left;
}

#event-list td {
  text-align: center;
}

#event-list label {
  display: inline-block;
}

/*checkboxes : color depending on changed status */

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}
input[type="checkbox"]:checked + label::before {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: black;
}

input[data-initial="false"]:checked + label::before {
  background-color: green;
  border: 2px solid green;
}
input[data-initial="true"]:not(:checked) + label::before {
  border: 2px solid red;
}
/**/
