<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arma3sync-web-admin: repository changelog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
<section>
    <nav>
        <a href="/">index</a>
        <a href="/events">events</a>
        <a href="/sync">sync</a>
    </nav>
</section>
<section>
    <h2>changelog</h2>
    <div id="changelog">

    </div>
</section>
</body>
<script src="/scripts/lib.js"></script>
<script src="/scripts/changelog.js"></script>
</html>
