<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>arma3sync-web-admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
<section>
    <nav>
        <a href="/">index</a>
        <a href="/events">events</a>
        <a href="/sync">sync</a>
    </nav>
</section>
<section>
    <h1>sync</h1>
    <div>sync last written at: <span id="sync-last-update"></span></div>
    <button id="sync-update" title="click here after uploading/changing mods in the repository">update sync & generate zsyncs</button>
    <div>last action status:
        <div id="last-update-status">---</div>
    </div>
    <div id="repo-info">

    </div>
    <div id="addon-names">

    </div>
</section>
</body>
<script src="/scripts/lib.js"></script>
<script src="/scripts/sync.js"></script>
</html>
